/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;

}
button{
    cursor: pointer;
    height: 3rem;
    width: 10%;
    border-radius: 15px;
    color: white;
    background-color: black;
    border: none;
}